<h1>{{ question.question_text }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>

<h5>선택지추가</h5>
<form action="{% url 'polls:add_choice' question.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="add_choice_data">
    <button type="submit">선택지등록</button>
</form>


<form action="{% url 'polls:index' %}" method="post">
    {% csrf_token %}
    <button type="submit">메인페이지로돌아가기</button>
</form>