<h1>질문리스트</h1>
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<h5>질문추가</h5>
<form action="{% url 'polls:add_question' %}" method="post">
    {% csrf_token %}
    <input type="text" name="add_question_data">
    <button type="submit">질문추가등록</button>
</form>


<h5>질문삭제</h5>
<form action="{% url 'polls:delete_q' %}" method="post">
    {% csrf_token %}
    <button type="submit">질문삭제하기</button>
</form>
